<h1>Store</h1>
<p>Simple CRUD</p>

<div class="grid">
    <a class="card" href="/Categories">Categories</a>
    <a class="card" href="/Products">Products</a>
    <a class="card" href="/Orders">Orders</a>
</div>
